
/* .header .logo h3 {
  font-weight: bold;
  font-size: 1.2rem;
} */
/* .header .logo h3:hover {
  color: #700f0f;
} */

.nav{
  background-color: aliceblue;
}

.header .h-menu a {
  font-weight: 500;
  font-size: 1.1rem;
  margin: 0 .5rem;
}
.header .h-menu a:hover {
  color: #700f0f;
  border-bottom: 2px solid #672424;
}

.h-profile {
  display: flex;
  align-items: center;
  background-color: rgb(255, 255, 255);
  border-radius: 0.5rem;
  padding: 5px;
  margin-left: 2rem;
}
.h-profile a {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1rem !important;
}
/* .h-profile h3 {
  font-size: 1.3rem;
  padding-left: 5px;
  padding-right: .5rem;
  font-weight: bold;
} */
.h-profile img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}

@media screen and (max-width: 800px) {
    .header{
        padding: .5rem .5rem;
    }
  .h-profile h3 {
    display: none;
  }
}

@media screen and (max-width: 770px) {
    
  .header .h-menu {
    flex-direction: column;
    align-items: left;
  }

  .header .h-menu a {
    margin-bottom: 0.5rem;
  }
  .h-profile h3 {
    display: block;
  }
  .h-profile {
    display: flex;
    align-items: center;
    background-color: transparent;
    border-radius: 0.5rem;
    padding: 5px;
    margin-left:0;
    
  }
  
 
  .h-profile h3 {
    font-size: 1.3rem;
    margin-right: 5px;
    font-weight: bold;
    padding-left: .5rem;
  }
  .h-profile .img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
  }

  .header .h-menu a:hover {
    display: inline-block;
    border-bottom: 2px solid transparent;
  }
}
